{% extends 'base.html' %}

{% block content %}

<div id="home-page-rules">
    <h1>How To Play:</h1>
</div>

    <div>
        <p>
        
            <h3>Players start each round by choosing, rock, paper, or scissors:</h3>
            
            <h3>&#9994  Rock beats Scissors  &#9996</h3>

            <h3>&#9995  Paper beats Rock  &#9994</h3>

            <h3>&#9996  Scissors beats Paper  &#9995</h3>

            <h3>If you tie...play again!</h3>

        </p>


     
    </div>   
    
    <button onclick="window.location.href='/rock/scissors'">PLAY</button>
        




{% endblock %}